ta
statsmodels
pyside6==6.10.2

# typing
pandas-stubs
matplotlib-stubs

# profiler
line-profiler
snakeviz
line-profiler-gui

# spyder
spyder-kernels

# Optimizer
optunahub

# build_helpers/build_epub.py
beautifulsoup4==4.14.3
